
<div style="padding:10px"></div>
  <div class="card blog-item">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <h5 class="card-title"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate, dolores sunt sed nostrum suscipit cumque, itaque velit voluptatibus molestias incidunt! Accusantium fuga dolor molestias possimus natus culpa temporibus architecto.</p>
        <a href="/blogitemdetail" class="btn btn-primary">Details</a>
      </div>
    </div>
<div style="padding:10px"></div>